*{margin: 0;
  padding: 0;
}
.main{
  display: flex;
  height: 100vh;
}


.main .left {
  background-color: rgb(255, 255, 255);
  flex: 1;
}
.left h1{
 text-align: center;
 font-size: 68px;
 margin-top: 25vh;
 left: 30px;
}
h1 .highlight{
  color: rgb(3, 239, 160);
}
.left p{
  text-align: left;
  font-size: 21px;
  padding: 30px;
  color: rgb(149, 149, 149);
}
.btn-uiu{
  display: inline;
  padding :12px 24px;
  background-color: #06c167;
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-uiu:hover{
  background-color: #03512d;
  transform: scale(1.05);
}
.left .btn-uiu{
  position: absolute;
  left:40px;
}


.main .right {
  background-image: url("img.png");
  flex: 1;
}
.btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(10, 230, 120);
  border: 3px solid rgb(6, 214, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.left .btn{
  position: absolute;
  top: 380px;
  left: 695px;
}
.right .btn{
  position: absolute;
  top: 320px;
  left: 695px;
}

.main .top{
  background-color: rgb(242, 245, 243);
  position: absolute;
  top: 50px;               /* stick to top */
  left: 40px;
  right: 40px;
  height: 80px;        /* control size */
  border-radius: 5px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.top .logo{
  display: flex;
  text-align: center;
  justify-content:center;
  gap: 10px;
 
}
.imgs{
  width: 80px;
  height: 60px;
  margin: auto;
  margin-left: 30px;
  background-color: #06c167;
  border-radius: 50%;
}
.logo h2{
  color: #0dd539;
  font-size: 42px;
  margin: auto;
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
nav ul{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  gap: 30px;
  list-style: none;
  margin: auto;
}
.top nav a{
  text-decoration: none;
  text-align: center;
}
nav .active{
  color: #06c167;
}
nav .btn-uius{
  display: flex;
  justify-content: center;
  font-size: 19px;
  width: 130px;
  height: 40px;
  background-color: rgb(10, 230, 120);
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}


.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;   /* give it a fixed height */
  background:#06c167;
}

.search{
 display: flex;
justify-content: center;
 align-items: center;
 padding: 20px;
 gap: 10px;
}

.search input,
.search select{
  width: 350px;
  height: 40px;
  font-size: 22px;
}
.search button{
  width: 150px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color:white;
  background-color: #616261;
  transition: 0.3s;
}
.search button:hover{
  transform: scale(1.05);
  background-color: #f9fcfa;
  color: black;
}